# .env file
DB_HOST=database
DB_PORT=5432
DB_SSLMODE=disable
POSTGRES_DB=transcendence
POSTGRES_USER=user
POSTGRES_PASSWORD_FILE=/run/secrets/postgres_user_pw
BACKEND_PORT=8080
WS_PORT=8081
JWT_PRIVATE_KEY_PATH=/run/secrets/jwt_private_key
JWT_PUBLIC_KEY_PATH=/run/secrets/jwt_public_key
GAMESERVER_API_KEY_PATH=/run/secrets/internal_api_key
BACKEND_TARGET=production
ENV=development
LOG_LEVEL=info
